body{
  padding: 0;
  margin: 0;
}

h1,h2,h3,
h4,h5,h6{
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

p{
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0;
  margin: 0;
}

li{
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0;
  margin: 0;
}

img{
  padding: 0;
  margin: 0;
}

nav{
  padding: 0;
  margin: 0;
}

footer{
  padding: 0;
  margin: 0;
}

/* MULTI-USE CLASSES */

.extrSpaceH{
  padding-left: 0.5rem;
}

.mySpaceSaver{
  padding: 0;
  margin: 0;
}

/* NAVBAR & Landing*/
.navBarCustomUpper{
  background-color: #264653;
  color: #F6BD60;
  padding: 0;
  margin: 0;
}

.navBarCustomLower{
  background-color: rgb(38,70,83,0.9);
  color: #F6BD60;
  padding: 1rem 0;
  margin: 0;
}

.custTogBtn{
  border: none;
  color: #F6BD60;
}

.navbar-nav .nav-item .nav-link{
  font-weight: bolder;
}

.navbar-nav .nav-item .nav-link:hover{
  color:rgb(233,196,106);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.bgImage{
  min-width:100%;
  min-height: 650px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

#landingImage{
  background-image: url(../img/DSC3719.jpg);
}

#landingImage.checked{
  background-image: url(../img/DSC7317.jpg);
}

.tlContain{
  position: relative;
  top: 9rem;
  font-size: 3rem;
  color: #F7EDE2;
  padding: 0;
  margin: 0;
}

.tlContain p em{
  color: #F28482;
  font-weight: lighter;
  padding: 0;
  margin: 0;
}

.TagText{
  background-color: rgb(38,70,83,0.2);
  border-radius: 0.5rem;
  min-width: 240px;
}

.headHide{
  display: none;
}

/* About Section */

#aboutSection{
  background-image: url(../img/DSC4534.jpg);
}

#aboutSection.checked{
  background-image: url(../img/DSC7194.jpg);
}

.sectionHeading{
  background-color: rgb(38,70,83,0.2);
  border-radius: 0.5rem;
  min-width: 275px;
  font-size: 2.5rem;
  padding: 0;
  margin: 1rem 0;
  color: #F6BD60;
}

.sectionText{
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0;
  margin: 1.5rem;
  color: #F6BD60;
}

.brandHL{
  font-style: italic;
  font-weight: bold;
  color: #F28482;
}

.sectionSubHead{
  background-color: rgb(38,70,83,0.2);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.6rem;
  margin: 0.5rem;
  color: #F6BD60;
}

/* Testimonial Section */

#testimonialSection{
  background-image: url(../img/DSC4752.jpg);
}

#testimonialSection.checked{
  background-image: url(../img/DSC7274.jpg);
}

.myCard{
  font-weight: bolder;
  opacity: 0.85;
  padding: 0;
  margin: 2rem 0;
  color: #2A9D8F;
}

.myCardCarousel{
  font-weight: bolder;
  opacity: 0.85;
  padding: 2.5rem;
  color: #2A9D8F;
}

.custCarousel{
  margin-top: 4rem;
}

/* Location Section */

#locationSection{
  background-image: url(../img/DSC1241.jpg);
}

#locationSection.checked{
  background-image: url(../img/DSC7223.jpg);
}

.mapLegend{
  background-color: rgb(255,255,255,0.8);
  box-shadow: 0 0 0.3rem 2px rgb(0,0,0, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: auto;
  max-width: 300px;
}

.mapLegend ul li{
  display: inline-flex;
  list-style: none;
  padding: 0.75rem 0.5rem;
}

.MLContain{
  text-align: center;
  padding: 0;
  margin: 0;
}

#map{
  position: relative !important;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 400px;
  width: auto;
  padding: 0;
  margin: 1.5rem 0 1rem;
  opacity: 0.9;
}

.mStyle{
  font-size: 0.75rem;
  font-weight: bold;
  color: #2A9D8F;
}

/* Contact Section */

#contactSection{
  background-image: url(../img/DSC3545.jpg);
}

#contactSection.checked{
  background-image: url(../img/CR6.jpg);
}

.myForm{
  padding: 0;
  margin: 2rem 0;
}

.CFHead{
  font-size: 2rem;
  font-weight: bolder;
  background-color: rgb(255,255,255,0.8);
  box-shadow: 0 0 0.3rem 2px rgb(0,0,0, 0.2);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin: 1rem 0;
  color: #2A9D8F;
}

.CFBtnCust{
  background-color: #F7EDE2;
  border-color: #F7EDE2;
  color: #F6BD60;
  padding: 0.25rem 1.5rem 0;
  margin-bottom: 1rem ;
}

.CFBtnCust:hover{
  background-color: #F6BD60;
  border-color: #F6BD60;
  color:#F7EDE2;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.cDetails{
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(255,255,255,0.8);
  box-shadow: 0 0 0.3rem 2px rgb(0,0,0, 0.2);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 2rem 0;
  color: #2A9D8F;
}

.cDetails h6{
  padding: 0 0 0.5rem;
  color: #264653;
  text-decoration: underline;
}

.cDetails p{
  padding: 0.5rem;
  margin: 0;
}

.cDetails a{
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0;
  color: #2A9D8F;
}

/* Footer */

.CopyFoot{
  background-color: rgb(38,70,83,0.9);
  font-size: 0.75rem;
  padding: 1rem;
  margin: 0;
  color: #F7EDE2;
}

.CopyFootLower{
  background-color: #264653;
  font-size: 0.75rem;
  padding: 1rem;
  margin: 0;
  color: #F7EDE2;
}
